header{
    position: sticky;
    top: 0;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin-top: 0;
}
.ikon-v{   
    padding-top: 10px;
    padding-left: 15px;
}
.ikon-h{
    padding-top: 10px;
    padding-right: 15px;
    gap: 10px;
} 
main{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

nav{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    margin-top: 15px;
}

.bars{
    display: inline-block;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: blue;
    color: white;
    justify-content: center;
}

.bars > i{
    margin: 7px;
    margin-left: 10px;
}

.länkar{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 10px;
    margin-top: 10px;
}

.välkomstRuta{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.välkomstRuta > h1{
    font-family: 'Sofia', Verdana, Tahoma;
    text-align: start;
    margin-top: 0px;
    margin-bottom: 10px;
}

.searchBar{
    border: solid blue;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

.searchBar > i{
    margin-top: 5px;
    margin-bottom: 5px;
    color: blue;
}