body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    margin: 0;
    padding: 0%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

article img{
    height: 220px;
    width: 200px;
    margin-top: 20px;
}

header{
    position: sticky;
    top: 0;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin-top: 0;
}
.ikon-v{   
    padding-top: 10px;
    padding-left: 15px;
}
.ikon-h{
    padding-top: 10px;
    padding-right: 15px;
    gap: 10px;
} 
main{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

article{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

/*Menyer för navigation*/
nav{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    margin-top: 15px;
}

.bars{
    display: inline-block;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: lightblue;
    color: white;
    justify-content: center;
}

.bars > i{
    margin: 7px;
    margin-left: 10px;
}

.länkar{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 10px;
    margin-top: 10px;
}

.välkomstRuta{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.välkomstRuta > h1{
    font-family: 'Sofia', Verdana, Tahoma;
    text-align: start;
    margin-top: 0px;
    margin-bottom: 10px;
}

.searchBar{
    border: solid blue;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

.searchBar > i{
    margin-top: 5px;
    margin-bottom: 5px;
    color: blue;
}

.info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 3px;
    border-radius: 10px;
    background-color: red;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.info > i{
    padding-top: 15px;
}

.Jysk-varuhus{
    justify-self: center; 
}

/*Jysk varuhusbild bred */
.Jysk-varuhus > img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.läggTillIVarukorg{
    justify-content: center;
    display: inline-block;
}

.läggTillIVarukorg > p{
    border-radius: 35px;
    background-color: white; 
    padding: 10px;
    width: 100px;
}

.varukorg{
    font-family: 'Sofia', Verdana, Tahoma;
}

footer{
    display: flex;
    height: 45px;
    justify-content: space-around;
    margin-top: 20px;
    padding-top : 15px;
}

footer > i{
    color: blue;
}

h1{
    font-size: calc(1.5rem + 3vw);
    color: black;
} 

h2{
    font-size: calc(1rem + 2vw);
    color: black;
    margin-left: 10px;
}

p{
    font-size: calc(0.5rem + 1vw);
    color: blue;
}

i{
    font-size: 2rem;
    color: white;
}

ul{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    font-size: calc(0.5rem + 1vw);
    margin: 5px;
}

label{
    font-size: calc(1rem + 2vw);
    color: blue; 
}

input{
    background-color: lightblue;
    border-color:   lightblue;
    color: blue;
}

button{
    font-size: calc(0.5rem + 1vw);
    border: 3px solid blue;
    border-radius: 20px;
    background-color: red;
    color: blue;
    padding: 10px;
    margin-left: 10px;
}

button:hover{
    box-shadow: 0 0 3px 3px blue inset;
}

a:link{
    font-size: calc(0.5rem + 1vw);
    color: yellow;
    text-decoration: none;
}

a:visited{
    color: blue;
    text-decoration: none;
}

img{
    height: auto;
    width: 100%;
    
}

/* Tablet storlek*/
@media screen and (min-width: 641px) and (max-width: 1007px){
    main{
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
    }
    .välkomstRuta{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .Jysk-varuhus{
        grid-column: 3/5;
        grid-row: 1/2;
    }
    .produkt1{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .produkt2{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .produkt3{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .produkt4{
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .produkt5{
        grid-column: 2/3;
        grid-row: 4/5;
    }
    .produkt6{
        grid-column: 3/4;
        grid-row: 4/5;
    }
    .varukorg{
        grid-column: 1/2;
        grid-row: 2/5;
    }
}

/* Desktop storlek*/
@media screen and (min-width: 1008px){
    main{
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr;
    }
    .välkomstRuta{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .Jysk-varuhus{
        grid-column: 3/5;
        grid-row: 1/2;
    }
    .produkt1{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .produkt2{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .produkt3{
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .produkt4{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .produkt5{
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .produkt6{
        grid-column: 4/5;
        grid-row: 3/4;
    }
    .varukorg{
        grid-column: 1/2;
        grid-row: 2/5;
    }
}